.recipe-container {
  margin-left: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 30px;
}

.recipe-card {
  width: 220px;
  height: 220px;
  border: 10px solid $grey-green;
  padding: 10px;
}

.recipe-card-header {
  text-transform: uppercase;
  font-weight: 800;
  color: $grey-green;
  font-size: 26px;
}

.recipe-details {
  color: $grey-green;
  font-weight: 800;
  font-size: 20px;
}

.recipe-card:hover {
  border: 10px solid black;
}

.recipe-card:hover .recipe-card-header{
  color: $smoky-black;
}

.recipe-card:hover .recipe-details {
  color: $smoky-black;
}
