.sign-up-form {
  width: 400px;
  margin: 20px auto;
  text-align: left;
}

.error-messages {
  color: $isabelline;
}

.sign-up-form input, .sign-up-form label{
    display: block;
}

.sign-up-form input {
  margin: 5px auto;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  font-size: 18px;
}

.sign-up-form .form-submit {
  margin-top: 20px;
  width: 200px;
  background-color: $grey-green;
  color: $isabelline;
  font-size: 20px;
  margin: 15px auto;
}
