@import "./styles/colors.scss";
@import "./styles/fonts.scss";

@import "./styles/navbar.scss";
@import "./styles/recipeCard.scss";
@import "./styles/signupform.scss";
@import './styles/login.scss';
@import './styles/profile.scss';

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $isabelline;
  color: $smoky-black;
  font-family: $main-font;
  font-weight: 200;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

//// INDEX PAGE
.index-page {
  display: grid;
  grid-template-columns: 3fr 4fr;
  height: 100vh;
}

.index-content {
  background: $jellybean-red;
  text-align: center;
  padding-top: 0px;
  color: $isabelline;
}

.index-header, .header-paragraph {
  font-size: 50px;
  font-weight: 900;
  font-family: 'Playfair Display';
}

.header-paragraph {
  font-size: 22px;
  margin: 0px auto;
  font-weight: 400;
}

.index-link {
  display: block;
  width: 300px;
  margin: 40px auto;
  color: $isabelline;
  font-size: 28px;
  text-decoration: none;
  border: 1px solid $isabelline;
  padding: 5px;
}

.index-link:hover {
  background: $mustard;
}

.sign-up-header {
  font-weight: 800;
  font-size: 22px;
}

.login {
  position: fixed;
  top: 0;
  right: 10px;
  background: $jellybean-red;
  color: $isabelline;
  font-family: $main-font;
  font-weight: 800;
  font-size: 20px;
  border: none;
}

.login:hover {
  color: $mustard;
  cursor: pointer;
}

.login-span {
  text-decoration: underline;
}

.login-span:hover {
  cursor: pointer;
}

.login a {
  text-decoration: none;
  color: $isabelline;
}

.login a:hover {
  color: $mustard;
}
